* {

    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

@import "tailwindcss";


* {
    transition: all 0.3s ease-in-out;
}

@media(min-width:1536px) {
    .inner-Width {
        max-width: 1280px;
        margin: auto;
    }
}

@media (min-Width:1280px),
(min-Width:768px) {
    .paddings {
        padding: 2rem;
    }
}

.button {
    color: white;
    background: var(--blue gradient);
    padding: o.6rem 1.4rem;
    border-radius: 4px;
    font-weight: 500;
    transition: all 300ms ease-in-out;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}